@using System.Linq
@model IEnumerable<HAICOP.Models.DetailCommView>



<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                <h3 class="m17-sectiontitle__title  text__section-title">@ViewBag.CommLbl</h3>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--3">
            <label class="form-field__label">حدد السنة</label>
        </div>
        <div class="grid__column grid__column--3">
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                <select id="minmax" name="minmax" class="form-field__input form-field__input--select">
                    <option value=""></option>
                    <option value="2018/01/01|2018/12/31">2018</option>
                    <option value="2017/01/01|2017/12/31">2017</option>
                    <option value="2016/01/01|2016/12/31">2016</option>
                    <option value="2015/01/01|2015/12/31">2015</option>
                    <option value="2014/01/01|2014/12/31">2014</option>
                </select>
            </span>
        </div>
    </div>

    <div class="grid__row">
        <table class="m23-table__content-table ls-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">
                    <th class="m23-table__content-table-cell--header ">
                        تاريخ قبول الملف
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        عدد الملف
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        الموضوع
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        المشتري العمومي
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        المقرر
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        مقترح الإسناد
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        تاريخ الجلسة
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        وضعية الملف
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        تاريخ الإجابة
                    </th>
                    @if (ViewBag.Auth != null && ViewBag.Auth)
                    {
                        <th class="m23-table__content-table-cell--header ">
                            تحديد
                        </th>

                    }
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">
                @foreach (var item in Model)
                {  
                    @if (item.Dossier.Dossier.State == DossierState.Accept || item.Dossier.Dossier.State == DossierState.Refus)
                    {

                        <tr class="m23-table__content-table-row " >
                            <td class="text-danger m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Dossier.Dossier.ProDate)
                            </td>
                            <td class="text-danger m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Dossier.Dossier.Num)
                            </td>
                            <td class="text-danger m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Dossier.Dossier.Subject)
                                <br />
                                @foreach(var des in item.Dossier.Dossier.Descriptions)
                                {
                                    <p class="text-green">- @Html.DisplayFor(modelItem => des.Description)</p>
                                }
                            </td>
                            <td class="text-danger m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Dossier.Acheteur.Lbl)
                            </td>
                            <td class="text-danger m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Rapporteur.Agent.Name)
                            </td>
                            <td class="text-danger m23-table__content-table-cell">
                                @foreach (var i in item.Fournisseur)
                                {
                                    <p>
                                        @Html.DisplayFor(modelItem => i.Lbl)
                                    </p>
                                    
                                }

                            </td>
                            <td class="text-danger m23-table__content-table-cell" style="min-width:90px">
                                @foreach( var v in item.Metting)
                                {
                                    <p>
                                           @Html.DisplayFor(modelItem => v.Metting.MettDate)
                                    </p>
                                    
                                }
                            </td>

                            <td class="text-danger m23-table__content-table-cell" style="min-width:70px">

                                @foreach (var v in item.Metting)
                                {
                                    <p>
                                        @Html.DisplayFor(modelItem => v.Dessision.Lbl)
                                    </p>
                                }

                            </td>
                            <td class="text-danger m23-table__content-table-cell" style="min-width:90px">
                                @foreach (var v in item.Metting)
                                {
                                    <p>
                                        @Html.DisplayFor(modelItem => v.Metting.NotifDate)
                                    </p>
                                }
                            </td>
                            @if (ViewBag.Auth != null && ViewBag.Auth)
                            {
                                <td class="text-danger m23-table__content-table-cell">
                                    <a asp-action="Select" asp-controller="Doc" asp-route-id="@item.Dossier.DossierID"><i class="fa fa-check"></i></a>
                                </td>

                            }
                        </tr>
                    }
                    else
                    {
                        <tr class="m23-table__content-table-row" >
                            <td class="m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Dossier.Dossier.ProDate)
                            </td>
                            <td class="m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Dossier.Dossier.Num)
                            </td>
                            <td class="m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Dossier.Dossier.Subject)
                                <br />
                                @foreach (var des in item.Dossier.Dossier.Descriptions)
                                {
                                    <p class="text-green">- @Html.DisplayFor(modelItem => des.Description)</p>
                                }
                            </td>
                            <td class="m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Dossier.Acheteur.Lbl)
                            </td>
                            <td class="m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Rapporteur.Agent.Name)
                            </td>
                            <td class="m23-table__content-table-cell">
                                @foreach (var i in item.Fournisseur)
                                {
                                    <p>
                                        @Html.DisplayFor(modelItem => i.Lbl)
                                    </p>
                                }

                            </td>
                            <td class="m23-table__content-table-cell" style="min-width:90px">
                                @foreach (var v in item.Metting)
                                {
                                    <p>
                                        @Html.DisplayFor(modelItem => v.Metting.MettDate)
                                    </p>

                                }
                            </td>

                            <td class="m23-table__content-table-cell" style="min-width:70px">

                                @foreach (var v in item.Metting)
                                {
                                    <p>
                                        @Html.DisplayFor(modelItem => v.Dessision.Lbl)
                                    </p>
                                }

                            </td>
                            <td class="m23-table__content-table-cell" style="min-width:90px">
                                @foreach (var v in item.Metting)
                                {
                                    <p>
                                        @Html.DisplayFor(modelItem => v.Metting.NotifDate)
                                    </p>
                                }
                            </td>
                            @if (ViewBag.Auth != null && ViewBag.Auth)
                            {
                                <td class="text-danger m23-table__content-table-cell">
                                    <a asp-action="Select" asp-controller="Doc" asp-route-id="@item.Dossier.DossierID"><i class="fa fa-check"></i></a>
                                </td>

                            }
                        </tr>
                    }
                   
                        
                                


                    }
                </tbody>
            </table>
    </div>
</div>


@section Styles {
    @{
        await Html.RenderPartialAsync("_TableStyle");
        await Html.RenderPartialAsync("_FontAwesome");
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ScriptFilter");
    }
}




