@model IEnumerable<HAICOP.Models.UserAgent>

<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>


    <div class="grid__row">
        <table class="m23-table__content-table ls-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row ">
                    <th class="m23-table__content-table-cell--header ">
                        الإسم واللقب
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        اسم المستخدم
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        إسم المقرر/رئيس اللجنة
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        فسخ
                    </th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">

                @foreach (var item in Model)
                {
                    <tr class="m23-table__content-table-row ">
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.User.FirstLastName)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Agent.Name)
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="DelAgent" asp-route-UserID="@item.UserID" asp-route-AgentID="@item.AgentID"><i class="fa fa-ban"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@section Styles {
    @{
        await Html.RenderPartialAsync("_TableStyle");
        await Html.RenderPartialAsync("_FontAwesome");
    }
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScript"); }
}



