@model IEnumerable<RegisterViewModel>

@{
    ViewData["Title"] = "القائمة الجملية";
    ViewData["SubMenu"] = "التصرف في المستعملين";
}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@ViewData["Title"]</h3>
                                </div>
                                <div class="panel-body">
                                <!--Table Wrapper Start-->
                                    <div class="ls-editable-table table-responsive ">
                                        <table class="table table-bordered table-striped ls-table" >
                                            <thead>
                                                <tr>
                                                        <th>
                                                            الإسم واللقب
                                                        </th>
                                                        <th>
                                                            اسم المستخدم
                                                        </th>
                                                        <th>
                                                            البريد الإلكتروني
                                                        </th>
                                                        <th>
                                                            دور المستخدم
                                                        </th>
                                                        <th>
                                                            تحيين
                                                        </th>
                                                        <th>
                                                           تغيير كلمة السر
                                                        </th>
                                                        <th>   
                                                             لجنة
                                                        </th>
                                                        <th>
                                                            مقرر/رئيس لجنة
                                                        </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model) {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FirstLastName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.UserName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.StringRoles[0]) 
                                                            </td>
                                                            <td>
                                                                 <a asp-action="Edit" asp-route-id="@item.UserId"><i class="fa fa-pencil"></i></a>
                                                            </td>
                                                            <td>
                                                                 <a asp-action="ResetPassword" asp-route-id="@item.UserId"><i class="fa fa-key"></i></a>
                                                            </td>
                                                            <td>
                                                                 <a asp-action="Comm" asp-route-id="@item.UserId"><i class="fa fa-file"></i></a> | 
                                                                 <a asp-action="AddComm" asp-route-id="@item.UserId"><i class="fa fa-plus"></i></a> 
                                                            </td>
                                                            <td>
                                                                 <a asp-action="Agent" asp-route-id="@item.UserId"><i class="fa fa-user"></i></a> | 
                                                                 <a asp-action="AddAgent" asp-route-id="@item.UserId"><i class="fa fa-plus"></i></a>
                                                            </td>
                                                        </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                <!--Table Wrapper Finish-->
                                </div>
                            </div>
                        </div>
                    </div>


@section Styles {
    @{ await Html.RenderPartialAsync("_TableStylePartial");}
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScriptPatialWithout"); }
}
