@model IEnumerable<RegisterViewModel>

<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>


    <div class="grid__row">
        <table class="m23-table__content-table ls-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">
                    <th class="m23-table__content-table-cell--header ">
                        الإسم واللقب
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        اسم المستخدم
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        البريد الإلكتروني
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        دور المستخدم
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        تحيين
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        تغيير كلمة السر
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        لجنة
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        مقرر/رئيس لجنة
                    </th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">

                @foreach (var item in Model)
                {
                    <tr class="m23-table__content-table-row ">
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.FirstLastName)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.StringRoles[0])
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Edit" asp-route-id="@item.UserId"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="ResetPassword" asp-route-id="@item.UserId"><i class="fa fa-key"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Comm" asp-route-id="@item.UserId"><i class="fa fa-file"></i></a> |
                            <a asp-action="AddComm" asp-route-id="@item.UserId"><i class="fa fa-plus"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Agent" asp-route-id="@item.UserId"><i class="fa fa-user"></i></a> |
                            <a asp-action="AddAgent" asp-route-id="@item.UserId"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@section Styles {
    @{
        await Html.RenderPartialAsync("_TableStyle");
        await Html.RenderPartialAsync("_FontAwesome");
    }
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScript"); }
}

