@model IEnumerable<HAICOP.Models.FournisseurDetail>


<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>


    <div class="grid__row">
        <table class="m23-table__content-table ls-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">
                    <th class="m23-table__content-table-cell--header ">
                        صاحب الصفقة
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        النشاط
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        الصنف
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        جنسيته
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        الإختصاص
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        تحيين
                    </th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">

                @foreach (var item in Model)
                {
                <tr class="m23-table__content-table-row ">
                    <td class="m23-table__content-table-cell">
                        @Html.DisplayFor(modelItem => item.Fournisseur.Lbl)
                    </td>
                    <td class="m23-table__content-table-cell">
                        @Html.DisplayFor(modelItem => item.Activity)
                    </td>
                    <td class="m23-table__content-table-cell">
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td class="m23-table__content-table-cell">
                        @Html.DisplayFor(modelItem => item.Nationalite)
                    </td>
                    <td class="m23-table__content-table-cell">
                        @Html.DisplayFor(modelItem => item.Speciality)
                    </td>
                    <td class="m23-table__content-table-cell">
                        <a asp-action="EditFourDetail" asp-route-id="@item.ID"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles {
    @{
        await Html.RenderPartialAsync("_TableStyle");
        await Html.RenderPartialAsync("_FontAwesome");
    }
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScript"); }
}

