@using System.Linq
@model HAICOP.Models.DocDetail

@{
    ViewData["Title"] = "كل المعطيات";
    ViewData["SubMenu"] = "البحث";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <center><h2>التفاصيل بالنسبة للملف</h2></center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.Num" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-8" style="font-size:16px;">
                        @Html.DisplayFor(modelItem => Model.Dossier.Num)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.Subject" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-8" style="font-size:16px;">
                        @Html.DisplayFor(modelItem => Model.Dossier.Subject)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.Commission.Lbl" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-8" style="font-size:16px;">
                        @Html.DisplayFor(modelItem => Model.Dossier.Commission.Lbl)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Rapporteur.Name" style="font-size: 18px;">المقرر</label>
                    </div>
                    <div class="col-xs-8" style="font-size:16px;">
                        @Html.DisplayFor(modelItem => Model.Rapporteur.Name)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.Financement" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-4" style="font-size:16px;">
                        @Html.DisplayFor(modelItem => Model.Dossier.Financement)
                    </div>
                    @if(Model.Dossier.Financement == HAICOP.Models.Financement.Foreign){
                        <div class="col-xs-4" style="font-size:16px;">
                            @Html.DisplayFor(modelItem => Model.Dossier.Foreign)
                        </div>
                    }
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.Nature" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-8" style="font-size:16px;">
                        @Html.DisplayFor(modelItem => Model.Dossier.Nature)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.DocDate" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-8" style="font-size:16px;">
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Dossier.DocDate))
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.EnterDate" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-8" style="font-size:16px;">
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Dossier.EnterDate))
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.ProDate" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-8" style="font-size:16px;">
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Dossier.ProDate))
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Dossier.State" style="font-size: 18px;"></label>
                    </div>
                    @if(Model.Dossier.State == HAICOP.Models.DossierState.Accept){
                        <div class="col-xs-8 text-success" style="font-size:20px;">
                            @Html.DisplayFor(modelItem => Model.Dossier.State)
                        </div>
                    }else if(Model.Dossier.State == HAICOP.Models.DossierState.Refus){
                        <div class="col-xs-8 text-danger" style="font-size:20px;">
                            @Html.DisplayFor(modelItem => Model.Dossier.State)
                        </div>
                    }
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <center><h2>التفاصيل بالنسبة لصاحب الصفقة</h2></center>
            </div>
            <div class="panel-body">
                @foreach( var item in Model.FinD){

                    <div class="row">
                        <div class="col-xs-4">
                            <label  style="font-size: 18px;">إسم صاحب الصفقة</label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.Fournisseur.Lbl)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label  style="font-size: 18px;">الأقساط</label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.Lbl)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;">المبلغ</label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.Montant)
                        </div>
                    </div>
                    
                    
                }
                
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-dark">
            <div class="panel-heading">
                <center><h2>التفاصيل بالنسبة للمشتري العمومي</h2></center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <label asp-for="Acheteur.Lbl" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-xs-8" style="font-size:18px;">
                        @Html.DisplayFor(modelItem => Model.Acheteur.Lbl)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-light-green">
            <div class="panel-heading">
                <center><h2>التفاصيل بالنسبة للبريد</h2></center>
            </div>
            <div class="panel-body">
                 @foreach( var item in Model.Dossier.Mails){

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;">تاريخ البريد </label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.MailDate))
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;"> المرجع </label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.Ref)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;"> المرجع الأصلي </label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.OriginRef)
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;">المصدر </label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.From)
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;">نوع البريد </label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.MailType)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;">طبيعة البريد </label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.MailNature)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;"> البريد </label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            <a href="/uploads/@item.Url" target="_blank"> <i class="fa fa-eye" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-light-blue">
            <div class="panel-heading">
                <center><h2>التفاصيل بالنسبة للإجتماع</h2></center>
            </div>
            <div class="panel-body">

                @foreach( var item in Model.Dossier.Mettings){

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;">تاريخ الإجتماع</label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.MettDate))
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;"> عدد الجلسات</label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.MettNbr)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;"> ملاحظات </label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => item.MettDesc)
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-4">
                            <label style="font-size: 18px;">قرار اللجنة</label>
                        </div>
                        <div class="col-xs-8" style="font-size:18px;">
                            @Html.DisplayFor(modelItem => Model.Dessision.Lbl)
                        </div>
                    </div>
                    
                    
                }
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
       
        <a href="/Print/Boc/@Model.Dossier.ID" class="btn btn-default">طباعة
        </a> 
        <a href="/Doc/Edit/@Model.Dossier.ID" class="btn btn-success">تحيين</a>
        <a href="/Doc/Select/@Model.Dossier.ID" class="btn btn-info">تحديد</a>
        <br>   
    </div>
</div>