@model IEnumerable<HAICOP.Models.Dossier>

<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>


    <div class="grid__row">
        <table class="m23-table__content-table ls-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">

                    <th class="m23-table__content-table-cell--header ">
                        التعهد
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.Num)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        الهيكل
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        عدد الجلسات
                    </th>
                    <th class="m23-table__content-table-cell--header "></th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">

                @foreach (var item in Model)
                {
                    var ID = item.ID;
                    <tr class="m23-table__content-table-row ">
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.ProDate)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Num)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @item.Subject
                        </td>

                        <td class="m23-table__content-table-cell">
                            @item.Commission.Lbl
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Mettings.FirstOrDefault().MettNbr)
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Select" asp-controller="Doc" asp-route-id="@item.ID"><i class="fa fa-check"></i></a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@section Styles {
    @{
        await Html.RenderPartialAsync("_TableStyle");
        await Html.RenderPartialAsync("_FontAwesome");
    }
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScript"); }
}

 