@using System.Linq
@model IEnumerable<HAICOP.Models.Dossier>

@{
    ViewData["Title"] = "نتيجة البحث";
    ViewData["SubMenu"] = "البحث";
}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@ViewData["Title"]</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="ls-editable-table table-responsive ">
                                        <table class="table table-bordered table-striped ls-table" >
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Num)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Subject)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Commission.Lbl)
                                                    </th>

                                                    <th>
                                                        تاريخ التعهد
                                                    </th>
                                                    <th>
                                                        طبيعة الملف
                                                    </th>
                                                    
                                                    <th>
                                                            البريد
                                                    </th>
                                                    <th>
                                                        عدد الجلسات
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model) {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Num)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Subject)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Commission.Lbl)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ProDate)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Type)
                                                        </td>


                                                        <td>
                                                                @foreach(var m in item.Mails){
                                                                    <a data-toggle="modal" data-target="#myModalDanger" data-did="@item.ID" data-imid="@m.ID" class="img-show">@m.ID</a>
                                                                }
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Mettings.FirstOrDefault().MettNbr)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("كل العطيات", "Detail", "Search",  new { id = item.ID}) 
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    <div class="modal fade" id="myModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header label-red white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModaDanger">البريد</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <iframe id="docverif" frameBorder="0" width="865" height="500"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ls-red-btn btn-xs" data-dismiss="modal">خروج</button>
                </div>
            </div>
        </div>
    </div>

@section Styles {
    @{ await Html.RenderPartialAsync("_TableStylePartial");}
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScriptPartial"); }
    <script> 

        $(".img-show").click(function(){
            var imgid = $(this).data('imid');
            var docid = $(this).data('did');

            $.ajax({
                url: '/api/img/id/' + docid + '/' + imgid,
                success: function(results) {
                        $("#docverif").attr("src","/uploads/" + results);
                }
            });
        });
        

    </script>
}



