@using System.Linq
@model IEnumerable<HAICOP.Models.AchInDossier>

@{
    ViewData["Title"] = "نتيجة البحث";
    ViewData["SubMenu"] = "البحث";
}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@ViewData["Title"]</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="ls-editable-table table-responsive ">
                                        <table class="table table-bordered table-striped ls-table" >
                                            <thead>
                                                <tr>
                                                    <th>
                                                         التعهد
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Dossier.Num)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Dossier.Subject)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Dossier.Commission.Lbl)
                                                    </th>
                                                    <th>
                                                         المشتري العمومي
                                                    </th>
                                                    <th>
                                                        عدد الجلسات
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model) {
                                                   var ID = item.Dossier.ID ;
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dossier.ProDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dossier.Num)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dossier.Subject)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dossier.Commission.Lbl)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Acheteur.Lbl)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dossier.Mettings.FirstOrDefault().MettNbr)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("كل العطيات", "Detail", "Search",  new { id = item.Dossier.ID}) 
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


@section Styles {
    @{ await Html.RenderPartialAsync("_TableStylePartial");}
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScriptPatialWithout"); }
}



