@model IEnumerable<HAICOP.Models.TestMonth>

<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>


    <div class="grid__row">
        <table class="m23-table__content-table ls-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">
                    <th class="m23-table__content-table-cell--header ">
                        اللجنة المختصة لمراقبة و تدقيق صفقات
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        عدد الجلسات
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        عدد الصفقات
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        قيمة
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        النسبة المأوية
                    </th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">
                @foreach (var item in Model)
                {
                    <tr class="m23-table__content-table-row ">

                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Lbl)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Nbr)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Montant)
                        </td>
                        <td class="m23-table__content-table-cell">
                            % @Html.DisplayFor(modelItem => item.Poucentage)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="grid__row">
        <table class="m23-table__content-table ls-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">
                    <th class="m23-table__content-table-cell--header ">
                        تمويل أجنبي
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        عدم الموافقة
                    </th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">
                <tr class="m23-table__content-table-row ">
                    <td class="m23-table__content-table-cell">
                        % @ViewBag.fp.ToString("F2")
                    </td>
                    <td class="m23-table__content-table-cell">
                        % @ViewBag.nok.ToString("F2")
                    </td>
               </tr>
            </tbody>
        </table>
    </div>


    <div class="grid__row">
        <div class="grid__column grid__column--2">
                <label class="form-field__label">الإختيار</label>
        </div>
        <div class="grid__column grid__column--4">
            <span class="form-field__input-wrapper form-field__input-wrapper--select">
                <select name="choice" id="choice" class="form-field__input form-field__input--select">
                    <option value="pie">Pie</option>
                    <option value="doughnut">Doughnut</option>
                </select>
            </span>
        </div>
     </div>
        <div class="grid__row">
            
            <div class="grid__column grid__column--6">
                <div class="panel-heading">
                    <h3 class="panel-title">التوزيع حسب العدد</h3>
                </div>
                <div class="panel-body">
                    <canvas id="chart-typenbr"></canvas>
                </div>
            </div>
            <div class="grid__column grid__column--6">

                <h3 class="panel-title">التوزيع حسب المبلغ</h3>
                <div class="panel-body">
                    <canvas id="chart-typemontant"></canvas>
                </div>
            </div>
            <div class="grid__column grid__column--8">
                <div class="panel-heading">
                    <h3 class="panel-title">الإحصائيات (قيمة الصفقات)</h3>
                </div>
                <div class="panel-body">
                    <canvas id="chart-montant"></canvas>
                </div>
            </div>
        </div>
</div>



@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_StatScriptPartial"); 
        <script>

                var backgroundColor = ["#3e95cd", "#8e5ea2","#3cba9f","#fd5308","#fb9902","#e8c3b9", "#3e01a4","#0392ce","#a7194b","#c45850" ];
                
                var _type = 'pie';

                $("#choice").change(function(){
                   _type = $("#choice").val();
                   new Chart(document.getElementById("chart-montant"), {
                        type: _type ,
                        data: { 
                            labels : @Html.Raw(ViewData["labels"]),
                            datasets : [{
                                backgroundColor : backgroundColor,
                                data : @ViewBag.data
                            }]   
                        }
                    });

                    new Chart(document.getElementById("chart-typenbr"), {
                        type: _type ,
                        data: { 
                            labels : @Html.Raw(ViewData["labelstype"]),
                            datasets : [{
                                backgroundColor : backgroundColor,
                                data : @ViewBag.datacounttype
                            }]   
                        }
                    });

                    new Chart(document.getElementById("chart-typemontant"), {
                        type: _type ,
                        data: { 
                            labels : @Html.Raw(ViewData["labelstype"]),
                            datasets : [{
                                backgroundColor : backgroundColor,
                                data : @ViewBag.datamontanttype
                            }]   
                        }
                    });

                });

                    new Chart(document.getElementById("chart-montant"), {
                        type: _type ,
                        data: { 
                            labels : @Html.Raw(ViewData["labels"]),
                            datasets : [{
                                backgroundColor : backgroundColor,
                                data : @ViewBag.data
                            }]   
                        }
                    });

                    new Chart(document.getElementById("chart-typenbr"), {
                        type: _type ,
                        data: { 
                            labels : @Html.Raw(ViewData["labelstype"]),
                            datasets : [{
                                backgroundColor : backgroundColor,
                                data : @ViewBag.datacounttype
                            }]   
                        }
                    });

                    new Chart(document.getElementById("chart-typemontant"), {
                        type: _type ,
                        data: { 
                            labels : @Html.Raw(ViewData["labelstype"]),
                            datasets : [{
                                backgroundColor : backgroundColor,
                                data : @ViewBag.datamontanttype
                            }]   
                        }
                    });
                
        </script>
    }
}



