@model IEnumerable<HAICOP.Models.DocInOJ>

<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <table class="m23-table__content-table ls-table">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.Dossier.Num)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.Dossier.Subject)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        تحيين
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        حذف
                    </th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">

                @foreach (var item in Model)
                {
                    <tr class="m23-table__content-table-row ">
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Dossier.Num)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Dossier.Subject)
                        </td>

                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>

                        <td class="m23-table__content-table-cell">
                            <a asp-action="EditDoc" asp-route-id="@item.ID"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="DelDoc" asp-route-id="@item.ID"><i class="fa fa-ban"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    
</div>


@section Styles {
    @{
        await Html.RenderPartialAsync("_TableStyle");
        await Html.RenderPartialAsync("_FontAwesome");
    }
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScript"); }
}


