@model IEnumerable<HAICOP.Models.OJ>

<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <form class="form" asp-controller="OJ" asp-action="Add" method="post">
            <div class="grid__row">
                <div class="grid__column grid__column--2">
                    <div class="form-field__button">
                        <button class="button button--primary" type="submit">إضافة جدول أعمال</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="grid__row">
        <table class="m23-table__content-table ls-table">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.Num)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.Year)
                    </th>

                    <th class="m23-table__content-table-cell--header ">
                        عدد الملفات
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        عدد الزوار
                    </th>

                    <th class="m23-table__content-table-cell--header ">
                        تحيين
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        الملف
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        الزائر
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        الزائر
                    </th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">

                @foreach (var item in Model)
                {
                    <tr class="m23-table__content-table-row ">
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Num)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>

                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Dossier.Count)
                        </td>

                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Invite.Count)
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="AddDoc" asp-route-id="@item.ID"><i class="fa fa-plus-square"></i></a> |
                            <a asp-action="Doc" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a>

                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="AddMembre" asp-route-id="@item.ID"><i class="fa fa-user-plus"></i></a> | 
                            <a asp-action="Membre" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Generate" asp-route-id="@item.ID"><i class="fa fa-user-plus"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    
</div>


@section Styles {
    @{
        await Html.RenderPartialAsync("_TableStyle");
        await Html.RenderPartialAsync("_FontAwesome");
    }
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScript"); }
}


