@using System.Linq
@model IEnumerable<HAICOP.Models.RapporteurView>

@{
    ViewData["Title"] = "القائمة الجملية للملفات";
    ViewData["SubMenu"] = "التصرف في الملفات";
}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@ViewData["Title"]</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="ls-editable-table table-responsive ">
                                        <table class="table table-bordered table-striped ls-table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                       تاريخ قبول الملف
                                                    </th>
                                                    <th>
                                                        عدد الملف
                                                    </th>
                                                    <th>
                                                        المصدر
                                                    </th>
                                                    <th>
                                                        الموضوع
                                                    </th>
                                                    <th>
                                                        المقرر
                                                    </th>
                                                    <th>
                                                        مستوي الدراسة
                                                    </th>
                                                    <th>  
                                                        إضافة مقرر 
                                                    </th> 
                                                      
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model) {
                                                    <tr>
                                                        
                                                        
                                                        <td >
                                                            @Html.DisplayFor(modelItem => item.Dossier.Dossier.ProDate)
                                                        </td>
                                                        <td >
                                                            @Html.DisplayFor(modelItem => item.Dossier.Dossier.Num)
                                                        </td>
                                                        <td >
                                                            @Html.DisplayFor(modelItem => item.Dossier.Acheteur.Lbl)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dossier.Dossier.Subject)
                                                        </td>
                                                        <td >
                                                            @Html.DisplayFor(modelItem => item.Rapporteur.Agent.Name)
                                                        </td>
                                                        <td >
                                                            @Html.DisplayFor(modelItem => item.Dossier.Dossier.State)
                                                        </td>
                                                        <td>
                                                            @if(item.Dossier.Dossier.State != DossierState.Accept && item.Dossier.Dossier.State != DossierState.Refus){
                                                                <form class="frmaddrapp" asp-controller="Doc" asp-action="Rapp"  method="post" >
                                                                    <div class="form-inline">
                                                                        <input type="hidden" class="DossierID" name="DossierID" value="@item.Dossier.DossierID">
                                                                        <input type="hidden" class="OldAgentID" name="OldAgentID" value="@Html.DisplayFor(modelItem => item.Rapporteur.Agent.ID)" >
                                                                        <div class="form-group">
                                                                            <select name="AgentID" class="AgentID" asp-items="@ViewBag.AgentID" required>
                                                                                <option value=""></option>
                                                                            </select>
                                                                        </div>
                                                                        <button type="submit"  class="btn ls-light-green-btn">إضافة</button>
                                                                    </div>  
                                                                </form> 
                                                            }
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

@section Styles {
    @{ 
        await Html.RenderPartialAsync("_TableStylePartial");
        await Html.RenderPartialAsync("_SelectizeStyle");
    }
}

@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
        await Html.RenderPartialAsync("_TableScriptPatialWithout");
        await Html.RenderPartialAsync("_SelectizeScript"); 
        <script>

            $(".AgentID").selectize();

            $('.frmaddrapp').on('submit', function(e) {
                console.log($(this).serialize());
                    e.preventDefault();
                    $.ajax({
                            url: $(this).attr('action'), 
                            type: $(this).attr('method'), 
                            data: $(this).serialize(), 
                            success: function(html) { 
                                console.log(html);
                                if(html == true){
                                    console.log(html);
                                    $.amaran( {
                                    content: {
                                        message: "تمت عملية تحيين مقرر بنجاح", size: "", file: "", icon: "fa fa fa-check"
                                    }
                                    , theme:"default ok", position:"top left", inEffect:"slideLeft", outEffect:"slideTop", closeButton:true , delay:4000
                                });
                                formempty();
                                }else {
                                    $.amaran( {
                                    content: {
                                        message: "هناك خطأ تثبت من  المعلومات", size: "", file: "", icon: "fa fa fa-times"
                                    }
                                    , theme:"default error", position:"top left", inEffect:"slideLeft", outEffect:"slideTop", closeButton:true , delay:4000
                                    });
                                }
                            },
                            error : function(err){
                                $.amaran( {
                                    content: {
                                        message: "هناك خطأ تثبت", size: "", file: "", icon: "fa fa fa-times"
                                    }
                                    , theme:"default error", position:"top left", inEffect:"slideLeft", outEffect:"slideTop", closeButton:true , delay:4000
                                    });
                            }
                    });
                    
            });  
        
        </script>
    }
}




