@model IEnumerable<HAICOP.Models.Rapporteur>


@{
    ViewData["Title"] = "تحيين مقرر";
    ViewData["SubMenu"] = "التصرف في الملفات";
}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@ViewData["Title"]</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="ls-editable-table table-responsive ">
                                        <table class="table table-bordered table-striped ls-table" >
                                            <thead>
                                                <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Agent.Name)
                                                        </th>
                                                        <th>
                                                            الهيكل
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Dossier.Subject)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Dossier.Num)
                                                        </th>
                                                        
                                                        <th>
                                                            تحيين
                                                        </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model) {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Agent.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Agent.Commission.Lbl)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Dossier.Subject)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Dossier.Num)
                                                            </td>
                                                            
                                                            
                                                            <td>
                                                                 <a class="tag" data-toggle="modal" data-target="#myModalDanger" data-aid="@item.AgentID" data-did ="@item.DossierID" data-comid="@item.Agent.CommissionID" data-subj="@item.Dossier.Subject"  ><i class="fa fa-pencil"></i></a>
                                                            </td>
                                                        </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    <div class="modal fade" id="myModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header label-red white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModaDanger">البريد</h4>
                </div>
                <div class="modal-body">
                    <form id="frmeditrapp" asp-controller="Doc" asp-action="EditRapp"  method="post" >
                        <div class="form-horizontal">
                        
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" id="DossierID" name="DossierID" >
                            <input type="hidden" id="OldAgentID" name="OldAgentID" >
                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input name="Subject" id="Subject" class="form-control" required readonly="readonly">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <select name="AgentID" id="AgentID"  required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-9">
                                    <button type="submit"  class="btn ls-light-green-btn">تحيين</button>
                                </div>
                            </div>
                        </div>  
                    </form> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ls-red-btn btn-xs" data-dismiss="modal">خروج</button>
                </div>
            </div>
        </div>
    </div>

@section Styles {
    @{ 
        await Html.RenderPartialAsync("_TableStylePartial");
        await Html.RenderPartialAsync("_SelectizeStyle");
    }
}

@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
        await Html.RenderPartialAsync("_SelectizeScript"); 
        <script>


            $('#frmeditrapp').on('submit', function(e) {
                console.log($(this).serialize());
                    e.preventDefault();
                    $.ajax({
                            url: $(this).attr('action'), 
                            type: $(this).attr('method'), 
                            data: $(this).serialize(), 
                            success: function(html) { 
                                console.log(html);
                                if(html == true){
                                    console.log(html);
                                    $.amaran( {
                                    content: {
                                        message: "تمت عملية تحيين مقرر بنجاح", size: "", file: "", icon: "fa fa fa-check"
                                    }
                                    , theme:"default ok", position:"top left", inEffect:"slideLeft", outEffect:"slideTop", closeButton:true , delay:4000
                                });
                                formempty();
                                }else {
                                    $.amaran( {
                                    content: {
                                        message: "هناك خطأ تثبت من  المعلومات", size: "", file: "", icon: "fa fa fa-times"
                                    }
                                    , theme:"default error", position:"top left", inEffect:"slideLeft", outEffect:"slideTop", closeButton:true , delay:4000
                                    });
                                }
                            },
                            error : function(err){
                                $.amaran( {
                                    content: {
                                        message: "هناك خطأ تثبت", size: "", file: "", icon: "fa fa fa-times"
                                    }
                                    , theme:"default error", position:"top left", inEffect:"slideLeft", outEffect:"slideTop", closeButton:true , delay:4000
                                    });
                            }
                    });
                    
            });  

            $(".tag").click(function(){
                var agentid = $(this).data('aid');
                var docid = $(this).data('did');
                var comid = $(this).data('comid');
                var sub = $(this).data('subj');

                var xhragent;
                $("#AgentID").selectize({
                    valueField: 'id',
                    labelField: 'lbl',
                    searchField: ['lbl'],
                    load : function(qry,callback) {
                        xhragent && xhragent.abort();
                        xhragent = $.ajax({
                            url: '/api/agent/' + comid,
                            success: function(results) {
                                callback(results);
                            },
                            error: function() {
                                callback();
                            }
                        })
                    }
                });

                $("#OldAgentID").val(agentid);
                $("#Subject").val(sub);
                $("#DossierID").val(docid);
            });

            $('#myModalDanger').on('hidden.bs.modal', function () {
                location.reload();
            });
            
        

            
        </script>
    }
}

