@using System.Linq
@model IEnumerable<HAICOP.Models.Mail>

@{
    ViewData["Title"] = "القائمة الجملية للبريد";
    ViewData["SubMenu"] = "التصرف في الملفات";
}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@ViewData["Title"]</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="ls-editable-table table-responsive ">
                                        <table class="table table-bordered table-striped ls-table" >
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Ref)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.From)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.MailType)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.MailNature)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.MailDate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Dossier.Subject)
                                                    </th>
                                                    <th>
                                                         تحيين
                                                    </th>
                                                    <th>
                                                        طباعة
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model) {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Ref)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.From)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MailType)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MailNature)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MailDate)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dossier.Subject)
                                                        </td>
                                                        <td>
                                                            <a asp-action="EditMail" asp-route-id="@item.ID"><i class="fa fa-pencil"></i></a> 
                                                        </td>
                                                        <td>
                                                            <a asp-action="Bureau" asp-controller="Print" asp-route-id="@item.DossierID" asp-route-mid="@item.ID"><i class="fa fa-print"></i></a> 
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


@section Styles {
    @{ await Html.RenderPartialAsync("_TableStylePartial");}
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScriptPatialWithout"); }
}



