@model IEnumerable<HAICOP.Models.Mail>

<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                <h3 class="m17-sectiontitle__title  text__section-title">@Model.First().Dossier.Subject</h3>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <table class="m23-table__content-table ls-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">

                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.Ref)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.From)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.MailType)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.MailNature)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        @Html.DisplayNameFor(model => model.MailDate)
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        تحيين
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        حذف
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        طباعة
                    </th>
                    <th class="m23-table__content-table-cell--header "></th>
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">

                @foreach (var item in Model)
                {
                    <tr class="m23-table__content-table-row ">
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.Ref)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.MailType)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.MailNature)
                        </td>
                        <td class="m23-table__content-table-cell">
                            @Html.DisplayFor(modelItem => item.MailDate)
                        </td>
                        
                        <td class="m23-table__content-table-cell">
                            <a asp-action="EditMail" asp-route-id="@item.ID"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="DelMail" asp-route-id="@item.ID"><i class="fa fa-ban"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Bureau" asp-controller="Print" asp-route-id="@item.DossierID" asp-route-mid="@item.ID"><i class="fa fa-print"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a href="~/uploads/@item.Url" target="_blank"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>



    @section Styles {
        @{ 
            await Html.RenderPartialAsync("_TableStyle");
            await Html.RenderPartialAsync("_FontAwesome");
         }
    }

    @section Scripts {
        @{ await Html.RenderPartialAsync("_TableScript"); }
    }



