@using System.Linq
@model IEnumerable<HAICOP.Models.Mail>

@{
    ViewData["Title"] = "القائمة الجملية للبريد";
    ViewData["SubMenu"] = "التصرف في الملفات";
}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@ViewData["Title"]</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="ls-editable-table table-responsive ">
                                        <table class="table table-bordered table-striped ls-table" >
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Ref)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.From)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.MailType)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.MailNature)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.MailDate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Dossier.Subject)
                                                    </th>

                                                    <th>
                                                            البريد
                                                    </th>

                                                    <th>
                                                         تحيين
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model) {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Ref)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.From)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MailType)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MailNature)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MailDate)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dossier.Subject)
                                                        </td>

                                                        <td>
                                                            <a data-toggle="modal" data-target="#myModalDanger" data-did="@item.DossierID" data-imid="@item.ID" class="img-show"><i class="fa fa-envelope"></i></a>

                                                        </td>
                                                        <td>
                                                            <a asp-action="EditMail" asp-route-id="@item.ID"><i class="fa fa-pencil"></i></a> 
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    <div class="modal fade" id="myModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header label-red white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModaDanger">البريد</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <iframe id="docverif" frameBorder="0" width="865" height="500"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ls-red-btn btn-xs" data-dismiss="modal">خروج</button>
                </div>
            </div>
        </div>
    </div>

@section Styles {
    @{ await Html.RenderPartialAsync("_TableStylePartial");}
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_TableScriptPartial"); }
    <script> 

        $(".img-show").click(function(){
            var imgid = $(this).data('imid');
            var docid = $(this).data('did');

            $.ajax({
                url: '/api/img/id/' + docid + '/' + imgid,
                success: function(results) {
                        $("#docverif").attr("src","/uploads/" + results);
                }
            });
        });
        

    </script>
}



