@using System.Linq
@model HAICOP.Models.Dossier



<div class="grid">

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                <h3 class="m17-sectiontitle__title  text__section-title">معطيات عامة</h3>
            </div>
        </div>
    </div>

    <div class="grid__row">
        <table class="m23-table__content-table" style="font-weight: lighter;">
            <thead class="m23-table__content-table-header">
                <tr class="m23-table__content-table-row">
                    <th class="m23-table__content-table-cell--header ">
                        تاريخ قبول الملف
                    </th>
                    <th class="m23-table__content-table-cell--header ">
                        الموضوع
                    </th>

                    <th class="m23-table__content-table-cell--header ">
                        الهيكل
                    </th>
                    @if (ViewBag.isboc != null)
                    {
                        <th class="m23-table__content-table-cell--header ">
                            طباعة
                        </th>

                        <th class="m23-table__content-table-cell--header ">
                            اظافة بريد
                        </th>

                        <th class="m23-table__content-table-cell--header ">
                            تحيين الملف
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            تحيين البريد
                        </th>
                    }
                    else if (ViewBag.isadmin != null)
                    {
                        <th class="m23-table__content-table-cell--header ">
                            التمويل
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            صاحب الصفقة
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            الرأي
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            اظافة بريد
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            تكليف مقرر
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                           تحيين الملف
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            تحيين البريد
                        </th>
                    }
                    else if (ViewBag.role.ToString().Contains("Chef") || ViewBag.role.ToString().Contains("Rapporteur"))
                    {
                        <th class="m23-table__content-table-cell--header ">
                            تكليف مقرر
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            تحيين البريد
                        </th>

                        @if (Model.Commission.Lbl.Contains("مرصد"))
                        {
                            <th class="m23-table__content-table-cell--header ">
                                 بطاقة بيانات
                            </th>
                            <th class="m23-table__content-table-cell--header ">
                                بطاقة متابعة
                            </th>

                        }

                    }
                </tr>
            </thead>
            <tbody class="m23-table__content-table-body">
                <tr class="m23-table__content-table-row ">

                    <td class="m23-table__content-table-cell">
                        @Html.DisplayFor(modelItem => Model.ProDate)
                    </td>
                    <td class="m23-table__content-table-cell">
                        @Model.Subject
                        <br />
                        @foreach (var des in Model.Descriptions)
                        {
                            <p class="text-green">- <a class="text-green" asp-action="EditDescription" asp-route-id="@des.ID">@Html.DisplayFor(modelItem => des.Description) </a></p>
                        }
                    </td>
                    <td class="m23-table__content-table-cell">
                        @Model.Commission.Lbl
                    </td>
                    @if (ViewBag.isboc != null)
                    {
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Boc" asp-controller="Print" asp-route-id="@Model.ID"><i class="fa fa-print"></i></a>
                        </td>
                        
                        <td class="m23-table__content-table-cell">
                            <a asp-action="AddMail" asp-route-id="@Model.ID"><i class="fa fa-envelope"></i></a>
                        </td>

                        <td class="m23-table__content-table-cell">
                            <a asp-action="Edit" asp-route-id="@Model.ID"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Mail" asp-route-id="@Model.ID"><i class="fa fa-pencil-square"></i></a>
                        </td>

                    }
                    else if (ViewBag.isadmin != null)
                    {
                        <td class="m23-table__content-table-cell">
                            <a asp-action="AddFina" asp-route-id="@Model.ID"><i class="fa fa-money"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="AddFour" asp-controller="Avis" asp-route-id="@Model.ID"><i class="fa fa-dollar"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Rep" asp-controller="Avis" asp-route-id="@Model.ID"><i class="fa fa-check-square"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="AddMail" asp-route-id="@Model.ID"><i class="fa fa-envelope"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Rapporteur" asp-route-id="@Model.ID"><i class="fa fa-user"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="EditWithNum" asp-route-id="@Model.ID"><i class="fa fa-pencil"></i></a> 
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Mail" asp-route-id="@Model.ID"><i class="fa fa-pencil-square"></i></a>
                        </td>
                    }
                    else if (ViewBag.role.ToString().Contains("Chef") || ViewBag.role.ToString().Contains("Rapporteur"))
                    {
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Rapporteur" asp-route-id="@Model.ID"><i class="fa fa-user"></i></a>
                        </td>
                        <td class="m23-table__content-table-cell">
                            <a asp-action="Mail" asp-route-id="@Model.ID"><i class="fa fa-pencil-square"></i></a>
                        </td>

                        @if (Model.Commission.Lbl.Contains("مرصد"))
                        {
                            <td class="m23-table__content-table-cell">
                                <a asp-action="Info" asp-controller="Marsed" asp-route-id="@Model.ID"><i class="fa fa-plus-circle"></i></a>
                            </td>
                            <td class="m23-table__content-table-cell">
                                <a asp-action="Suivie" asp-controller="Marsed" asp-route-id="@Model.ID"><i class="fa fa-plus-square"></i></a>
                            </td>
                        }

                    }
                </tr>

            </tbody>
        </table>
    </div>

    @if (ViewBag.Ach != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title  text__section-title">المشتري العمومي</h3>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--6 ">
                <h3>@ViewBag.Ach.Lbl</h3>
            </div>
        </div>
    }

    @if (Model.Financement != 0)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title  text__section-title">التمويل</h3>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--3">
                طبيعة التمويل
            </div>
            <div class="grid__column grid__column--2 text-danger">
                @Html.DisplayFor(modelItem => Model.Financement) 
            </div>
            
            @if (Model.Financement == Financement.Foreign)
            {
                <div class="grid__column grid__column--2">
                    الممول الأجنبي
                </div>
                <div class="grid__column grid__column--3">
                    @Html.DisplayFor(modelItem => Model.Foreign)
                </div>
            }

            <div class="grid__column grid__column--2">
                <a asp-action="EditFina" asp-route-id="@Model.ID"><i class="fa fa-pencil"></i></a>
            </div>
            
        </div>
    }
    
    

    @if (ViewBag.Fournisseur != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title  text__section-title"> </h3>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <table class="m23-table__content-table" style="font-weight: lighter;">
                <thead class="m23-table__content-table-header">
                    <tr class="m23-table__content-table-row">
                        <th class="m23-table__content-table-cell--header ">
                            مقترح الإسناد
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            المبلغ
                        </th>

                        <th class="m23-table__content-table-cell--header ">
                            القسط
                        </th>
                        <th class="m23-table__content-table-cell--header ">
                            التحيين
                        </th>
                    </tr>
                </thead>
                <tbody class="m23-table__content-table-body">
                    @foreach (FourInDossier item in ViewBag.Fournisseur)
                    {
                        <tr class="m23-table__content-table-row ">
                            <td class="m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Fournisseur.Lbl)
                            </td>
                            <td class="m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Montant)
                            </td>
                            <td class="m23-table__content-table-cell">
                                @Html.DisplayFor(modelItem => item.Lbl)
                            </td>
                            <td class="m23-table__content-table-cell">
                                <a asp-action="EditFour" asp-controller="Avis" asp-route-did="@Model.ID" asp-route-fid="@item.FournisseurID" ><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    }
    
    

    @if (ViewBag.Avis != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title  text__section-title">المراسلات</h3>
                </div>
            </div>
        </div>

        @foreach (DessisionInMetting d in ViewBag.Avis)
        {
            <div class="grid__row">
                <div class="grid__column grid__column--4">
                    المرجع : @d.Metting.MettDate.ToString("yyyy/MM/dd")
                </div>
                <div class="grid__column grid__column--4">
                    تاريخ التبليغ : @d.Metting.NotifDate.ToString("yyyy/MM/dd")
                </div>
                <div class="grid__column grid__column--3">
                    @d.Dessision.Lbl
                </div>
                <div class="grid__column grid__column--1">
                @if (ViewBag.role.ToString().Contains("root") || ViewBag.role.ToString().Contains("assistant"))
                {
                    <a asp-action="EditAvis" asp-controller="Avis" asp-route-id="@d.MettingID"><i class="fa fa-pencil-square"></i></a>
                }
                    

                    @try
                    {
                        <a href="~/uploads/@Model.Mails.FirstOrDefault(a => a.MailType == MailType.In && a.MettingID == d.MettingID).Url" target="_blank"><i class="fa fa-eye"></i></a>
                    }
                    catch (Exception) { }
                    
                </div>

            </div>

        }


    }
    
    @if (ViewBag.Rapporteur != null)
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title  text__section-title">المقرر</h3>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--6 ">
               <h3>@ViewBag.Rapporteur.Name</h3> 
            </div>
        </div>
    }

    @if (ViewBag.role.ToString().Contains("root"))
    { 
        <div class="grid__row">
            <div class="grid__column grid__column--3">
                <a asp-action="Accept" asp-controller="Avis" asp-route-id="@Model.ID" class="button button--primary-2 ">قبول</a>
            </div>
            <div class="grid__column grid__column--3">
                <a asp-action="Ref" asp-controller="Avis" asp-route-id="@Model.ID" class="button button--secondary ">رفض</a>
            </div>
        </div>
    }


    @if (ViewBag.role.ToString().Contains("Chef") || ViewBag.role.ToString().Contains("Rapporteur") || ViewBag.role.ToString().Contains("assistant"))
    {
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h3 class="m17-sectiontitle__title  text__section-title">إضافة معطيات</h3>
                </div>
            </div>
        </div>

        <form class="form" asp-controller="Doc" asp-action="AddDescription" method="post">

            <input type="hidden" id="DossierID" name="DossierID" value="@Model.ID"/>

            <div class="grid__row">
                <div class="grid__column grid__column--12">
                    <textarea id="Descripton" name="Description" class="form-field__input form-field__input--text" required="required"></textarea>
                </div>
            </div>

            <div class="form-field__button">
                <button class="button button--primary" type="submit">إضافة</button>
            </div>
        </form>
    }



</div>


@section Styles {
    @{
        await Html.RenderPartialAsync("_FontAwesome");
    }
}



